.window-body {
  flex-grow: 1;
  width: 100%;
  order: 2;
  overflow-x: hidden;
  overflow-y: auto;
  backdrop-filter: blur(2px);
  background: transparent;
  cursor: text;
}

.ace-tm {
  background-color: var(--editor_color);
  color: var(--editor_text_color);
  font-size: var(--editor_font_size);

  .ace_gutter {
    background: var(--gutter_color);
    color: var(--gutter_text_color);
    border-right: var(--seperator_width) solid var(--seperator_color);
  }
  .ace_gutter-active-line {
    background: initial;
  }
  .ace_cursor {
    color: white;
  }
  .ace_indent-guide {
    opacity: 0.05;
  }
  // syntax highlight
  .ace_comment {
    color: var(--syntax_comment);
  }
  .ace_string {
    color: var(--syntax_string);
  }
  .ace_attribute {
    color: var(--syntax_attribute);
  }
  .ace_number {
    color: var(--syntax_number);
  }
  .ace_extra {
    color: var(--syntax_extra);
  }
  .ace_keyword {
    color: var(--syntax_keyword);
  }
}

.ace_folding-enabled > .ace_gutter-cell {
  padding: none;
}
