.window-body {
  flex-grow: 1;
  width: 100%;
  order: 2;
  overflow-x: hidden;
  overflow-y: auto;
  backdrop-filter: blur(2px);
  background: transparent;
  cursor: text;
}

.ace-tm {
  background-color: var(--editor-color);
  color: var(--editor-text-color);
  font-size: var(--editor-font-size);

  .ace_gutter {
    background: var(--gutter-color);
    color: var(--gutter-text-color);
    border-right: var(--seperator-width) solid var(--seperator-color);
  }
  .ace_gutter-active-line {
    background: initial;
  }
  .ace_cursor {
    color: white;
  }
}

.ace_folding-enabled > .ace_gutter-cell {
  padding: none;
}

// syntax highlight
.ace_comment {
  color: var(--syntax-comment);
}
.ace_string {
  color: var(--syntax-string);
}
.ace_attribute {
  color: var(--syntax-attribute);
}
.ace_number {
  color: var(--syntax-number);
}
.ace_extra {
  color: var(--syntax-extra);
}
.ace_keyword {
  color: var(--syntax-keyword);
}
