:root {
  --font: "SF mono", "Cascadia Code", "CascadiaCode Nerd Font",
    "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,
    Arial, "Lucida Grande", sans-serif;
  --font-size: ;
  --gutter-size: 4.2rem;
  --seperator-width: 1.2px;
  font-family: var(--font);
}
