.ctrl::before{
	content: "\fb31";
}

.script::before{
	content: "\f977";
}

.listIcon{
    font-style: normal;
    display: table-cell;
	font-size: 2em;
    vertical-align: middle;
    width: 50px;    
}

.HTML-icon::before {
    content: "\e796";
}

.broom-icon::before{
    content: "\f5e1";
}

.collapse-icon::before{
    content: "\f543";
}

.counter-icon::before{
    content: "\f698";
}

.dice-icon::before{
    content: "\f6cc";
}

.filtration-icon::before{
    content: "\f0b0";
}

.fingerprint-icon::before{
    content: "\f736";
}

.flip-icon::before{
    content: "\fb21";
}

.indentification-icon::before{
    content: "\f2c3";
}

.link-icon::before{
    content: "\f838";
}

.metamorphose-icon::before{
    content: "\fb3b";
}

.quote-icon::before{
    content: "\f77d";
}

.table-icon::before{
    content: "\f9f3";
}

.term-icon::before{
    content: "\e714";
}

.type-icon::before{
    content: "\fbd4";
}

.unkown-icon::before{
    content: "\f128";
}

.watch-icon::before{
    content: "\e386";
}

.website-icon::before{
    content: "\f9ac";
}
