@font-face {
    font-family: 'icons';
    src:  url('fonts/icons.eot?nyqxuh');
    src:  url('fonts/icons.eot?nyqxuh#iefix') format('embedded-opentype'),
        url('fonts/icons.ttf?nyqxuh') format('truetype'),
        url('fonts/icons.woff?nyqxuh') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.icon{
    font-size: 14px;
    font-family: 'icons' !important;
	font-style: normal;
	display: inline-block;
}

.listIcon{
    font-family: 'icons' !important;
    font-style: normal;
    display: table-cell;
    font-size: 2em;
    vertical-align: middle;
    width: 50px;    
}

.ctrl::before{
	content: "\ea4f";
}

.script::before{
	content: "\e918";
}


.HTML-icon::before {
    content: "\e91b";
}

.broom-icon::before{
    content: "\e902";
}

.collapse-icon::before{
    content: "\e912";
}

.counter-icon::before{
    content: "\e906";
}

.dice-icon::before{
    content: "\e907";
}

.filtration-icon::before{
    content: "\e908";
}

.fingerprint-icon::before{
    content: "\e909";
}

.flip-icon::before{
    content: "\e90a";
}

.indentification-icon::before{
    content: "\e90e";
}

.link-icon::before{
    content: "\e910";
}

.metamorphose-icon::before{
    content: "\e913";
}

.quote-icon::before{
    content: "\e90c";
}

.table-icon::before{
    content: "\e911";
}

.term-icon::before{
    content: "\e918";
}

.type-icon::before{
    content: "\e901";
}

.unkown-icon::before{
    content: "\e915";
}

.watch-icon::before{
    content: "\e914";
}

.website-icon::before{
    content: "\e91e";
}
