:root {
  font-family: "SF mono", "Cascadia Code", "CascadiaCode Nerd Font",
    "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,
    Arial, "Lucida Grande", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: transparent;
  height: 100vh;
  width: 100vw;
  margin: 0px;
  cursor: default;
}

#content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.titlebar {
  padding: 0;
  background-color: #3a3a3af6;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  width: 100%;
  height: 28px;
  z-index: 10;
  order: 1;
  user-select: none;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.titlebar-stoplight {
  cursor: default;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  position: absolute;
  width: 70px;
  float: left;
}

.titlebar:after,
.titlebar-stoplight:after {
  content: " ";
  display: table;
  clear: both;
}

.titlebar-stoplight:hover svg {
  opacity: 1;
}

.titlebar-close,
.titlebar-minimize,
.titlebar-fullscreen {
  border-radius: 50%;
  line-height: 0;
  padding: 2px;
}

.titlebar svg {
  width: 8px;
  height: 8px;
  margin: auto;
  opacity: 0;
}

.titlebar-close {
  border: 1px solid #e2463f;
  background-color: #ff5f57;
}

.titlebar-close:active {
  border-color: #ad3934;
  background-color: #bf4943;
}

.titlebar-minimize {
  border: 1px solid #e1a116;
  background-color: #ffbd2e;
}

.titlebar-minimize:active {
  border-color: #ad7d15;
  background-color: #bf9123;
}

.titlebar-fullscreen,
.titlebar-maximize {
  border: 1px solid #12ac28;
  background-color: #28c940;
}

.titlebar-fullscreen:active {
  border-color: #128622;
  background-color: #1f9a31;
}

.titlebar-spotlight {
  background: #1e1e1e;
  color: #e0e0e0;
  border-radius: 5px;
  height: 70%;
  width: 30%;
  margin: 0 auto;
  text-align: center;
  display: inline-grid;
  place-items: center;
  grid-template-areas: "label";
  grid-template-rows: 100%;
}

.titlebar-spotlight .label {
  font-size: 10px;
  width: 30%;
  transition: visibility 0s, opacity 0.4s ease-in-out;
  visibility: visible;
  position: absolute;
  z-index: 10;
  margin: 5px;
  text-overflow: clip;
  overflow: hidden;
  white-space: nowrap;
  grid-area: label;
}

.postInfo {
  background-color: #3586ff;
  color: #dadada;
}

.postError {
  background-color: #ff4c7c;
  color: #dadada;
}

.labelHidden {
  visibility: hidden;
  opacity: 0;
}

/* code editor */
.window-body {
  flex-grow: 1;
  width: 100%;
  order: 2;
  overflow-x: hidden;
  overflow-y: auto;
  background-image: linear-gradient(
    to right,
    #161616e2 0%,
    #161616e2 calc(5rem - 5.4px),
    #0f0f0fe2 calc(5rem - 5.4px),
    #0f0f0fe2 calc(5rem - 4.4px),
    #1f1f1fe2 calc(5rem - 4.4px),
    #1f1f1fe2 100%
  );
  backdrop-filter: blur(2px);
  cursor: text;
}

/* spotlight */
.hidden {
  display: none;
}

.shaded {
  opacity: 0.9;
}

#spotlight-wrapper {
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  width: 100%;
}

#spotlight {
  display: block;
  width: 628px;
  height: 56px;
  margin: auto;

  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  -moz-appearance: none;
  -webkit-appearance: none;

  -moz-box-shadow: 0 25px 60px 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 25px 60px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 25px 60px 10px rgba(0, 0, 0, 0.3);

  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  font-size: 1.3rem;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  color: white;
  background-color: rgb(15, 15, 15);
  padding: 0 12px;
}

#spotlight:-moz-placeholder {
  color: white;
}
#spotlight::-moz-placeholder {
  color: white;
}
#spotlight:-ms-input-placeholder {
  color: white;
}
#spotlight::-webkit-input-placeholder {
  color: white;
}

.action-list {
  display: flex;
  flex-flow: column;
  width: 628px;
  outline: none;
  font-size: 1.3rem;
  color: white;
  background-color: #0f0f0f;
  padding: 0 12px;
  margin: auto;
  list-style: none;
  max-height: 60vh;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  -moz-appearance: none;
  -webkit-appearance: none;

  -moz-box-shadow: 0 25px 60px 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 25px 60px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 25px 60px 10px rgba(0, 0, 0, 0.3);

  overflow: auto;
}

.action-list > li {
  width: 100%;
  height: 56px;
  padding: 0 12px;
  margin: auto 0;
}
.action-list > li > div {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}

.action-list > li > div > div {
  display: table-cell;
}

.action-list > li > div > div > name {
  display: block;
  height: 35px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 30px;
  color: #dadada;
}

.action-list > li > div > div > description {
  height: 15px;
  overflow: hidden;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  display: block;
  font-size: 14px;
  color: #606060;
}

.selected {
  background-color: #333;
}
